<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/main.css">
        <script src="/javascript/store.js"></script>
        <script src="/javascript/signIn.js"></script>
    </head>
    <body>
        <div class="account">
            <div class="account__inputFields">
                <div class="account__inputField">
                    <input type="text" placeholder="ID" name="userId">
                </div>
                <div class="account__inputField">
                    <input type="password" placeholder="PASSWORD" name="password">
                </div>
            </div>
            <div class="account__buttons">
                <div class="account__signIn">
                    <div>
                        SIGN IN
                    </div>
                </div>
                <div class="account__toSignUpPage">
                    <a href="/auth/signUp">
                        <div>
                            SIGN UP
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>